section:nth-child(5){
    position: relative;
    height: 110vh;
    width: 72vw;
    padding-left: 14vw;
    padding-right: 14vw;
    background-color: #E6F3F4;
}

section:nth-child(5)>h5{
    width: 2.5vw;
    font-family: Inter, SansSerif;
    font-size: 1vw;
    font-weight: 600;
    color: #05BFDB;

    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    margin: auto;
}

section:nth-child(5)>h1{
    width: 15vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: #0A0A0A;

    position: absolute;
    top: 13vh;
    right: 0;
    left: 0;
    margin: auto;
}

#pathImg{
    width: 25%;

    position: absolute;
    top: 35vh;
    right: 0;
    left: 0;
    margin: auto;
}

#graduationLogo{
    width: 4%;

    position: absolute;
    top: 42.5vh;
    right: 12.5vw;
    margin: auto;
}

#degreeLogo{
    width: 4%;

    position: absolute;
    top: 24.5vh;
    left: 12vw;
    margin: auto;
}

#alLogo{
    width: 3%;

    position: absolute;
    top: 73vh;
    left: 13vw;
    margin: auto;
}

#olLog{
    width: 2%;

    position: absolute;
    top: 91vh;
    right: 13.5vw;
    margin: auto;
}




section:nth-child(5)>div{
    width: 20vw;
    height: 15vh;
    background-color: #05BFDB;
    background-color: white;
    box-shadow: #D0D0D0 0px 4px 12px;
    border-radius: 1vh;
}

section:nth-child(5)>div:hover{
    box-shadow: #959393 0px 4px 12px;
}





section:nth-child(5)>div>h2{
    font-family: 'Catamaran';
    font-size: 1vw;
    text-align: center;
    font-weight: 700;
    color: #0A0A0A;

    position: absolute;
    right: 0;
    left: 0;
    top: 2.5vh;
    margin: auto;
}

section:nth-child(5)>div>h3{
    font-family: Inter, SansSerif;
    font-size: 0.8vw;
    font-weight: 600;
    color: #404040;

    position: absolute;
    top: 8.5vh;
    right: 0;
    left: 0;
    margin: auto;
}

section:nth-child(5)>div>h4{
    font-family: Inter, SansSerif;
    font-size: 0.8vw;
    font-weight: 600;
    color: #808080;

    position: absolute;
    top: 11vh;
    right: 0;
    left: 0;
    margin: auto;
}



#section5Box1{
    position: absolute;
    top: 29vh;
    left: 14vw;
    margin: auto;
}

#section5Box2{
    position: absolute;
    top: 46vh;
    right: 14vw;
    margin: auto;
}

#section5Box3{
    position: absolute;
    top: 63vh;
    left: 14vw;
    margin: auto;
}

#section5Box4{
    position: absolute;
    top: 79vh;
    right: 14vw;
    margin: auto;
}


