section:nth-child(8){
    position: relative;
    height: 105vh;
    width: 72vw;
    padding-left: 14vw;
    padding-right: 14vw;
}

section:nth-child(8)>h5{
    width: 2.5vw;
    font-family: Inter, SansSerif;
    font-size: 1vw;
    font-weight: 600;
    color: #05BFDB;

    position: absolute;
    top: 15vh;
    left: 0;
    right: 0;
    margin: auto;
}

section:nth-child(8)>h1{
    width: 21vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: #0A0A0A;

    position: absolute;
    top: 18vh;
    right: 0;
    left: 0;
    margin: auto;
}

#section8Img1{
    width: 23%;

    position: absolute;
    top: 30vh;
    left: 14vw;
    margin: auto;
}

#section8Img2{
    width: 23.2%;
}

#section8Img3{
    width: 21%;
}

#section8Img4{
    width: 21%;
}

#section8Img5{
    width: 40%;
}

#section8Img6{
    width: 20%;
}

#section8Img7{
    width: 40%;
}
