section:nth-child(4){
    position: relative;
    height: 100vh;
    width: 72vw;
    padding-left: 14vw;
    padding-right: 14vw;
}

#section4LargeDot{
    width: 8%;

    position: absolute;
    bottom: 18vh;
    left: 12vw;
    margin: auto;
}

#section4MyImage1{
    width: 18vw;
    height: 30vh;

    position: absolute;
    top: 56vh;
    left: 29vw;
    margin: auto;
    z-index: 1;
}

#section4MyImage2{
    width: 30%;

    position: absolute;
    top: 20vh;
    margin: auto;
}



section:nth-child(4)>div{
    height: 55vh;
    width: 35vw;

    position: absolute;
    top: 25vh;
    right: 14vw;
    margin: auto;
}

section:nth-child(4)>div>h5{
    width: 12vw;
    font-family: Inter, SansSerif;
    font-size: 1vw;
    font-weight: 600;
    color: #05BFDB;
    margin: 0;
}

section:nth-child(4)>div>h1{
    width: 25vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: #0A0A0A;

    position: absolute;
    top: 4vh;
    margin: auto;
}

section:nth-child(4)>div>h3{
    width: 34vw;
    font-family: Inter, SansSerif;
    font-size: 1.2vw;
    font-weight: 300;
    color: #808080;

    position: absolute;
    top: 21vh;
    margin: auto;
}

section:nth-child(4)>div>img{
    width: 40vw;

    position: absolute;
    top: 43vh;
    margin: auto;
}