@media all and (max-width: 425px) and (min-width:320px) {

    section:nth-child(2){
        height: 50vh;
    }

    section:nth-child(2)>div:nth-child(1){
        top: 6vh;
        height: 15vh;
    }

    section:nth-child(2)>div:nth-child(1)>h1{
        font-size: 2vw;
        width: 13.5vw;
        top: 7vh;
        left: 0;
        right: 0;
    }

    section:nth-child(2)>div:nth-child(1)>h2{
        font-size: 1.5vw;
        width: 15vw;
        top: 9vh;
        left: 0;
        right: 0;
    }

    section:nth-child(2)>div:nth-child(1)>img{
        width: 33%;
        top: 2vh;
    }



    section:nth-child(2)>div:nth-child(2){
        top: 20vh;
        height: 15vh;
    }

    section:nth-child(2)>div:nth-child(2)>h1{
        font-size: 2vw;
        width: 11vw;
        top: 7vh;
        left: 0;
        right: 0;
    }

    section:nth-child(2)>div:nth-child(2)>h2{
        font-size: 1.5vw;
        width: 15vw;
        top: 9vh;
        left: 0;
        right: 0;
    }

    section:nth-child(2)>div:nth-child(2)>img{
        width: 33%;
        top: 2vh;
    }

    section:nth-child(2)>div:nth-child(3){
        top: 14vh;
        height: 15vh;
    }

    section:nth-child(2)>div:nth-child(3)>h1{
        font-size: 2vw;
        width: 21vw;
        top: 7vh;
        left: 0;
        right: 0;
    }

    section:nth-child(2)>div:nth-child(3)>h2{
        font-size: 1.5vw;
        width: 15vw;
        top: 9vh;
        left: 0;
        right: 0;
    }

    section:nth-child(2)>div:nth-child(3)>img{
        width: 33%;
        top: 2vh;
    }

    section:nth-child(2)>div:nth-child(4){
        top: 28vh;
        height: 15vh;
    }

    section:nth-child(2)>div:nth-child(4)>h1{
        font-size: 2vw;
        width: 15vw;
        top: 7vh;
        left: 0;
        right: 0;
    }

    section:nth-child(2)>div:nth-child(4)>h2{
        font-size: 1.5vw;
        width: 15vw;
        top: 9vh;
        left: 0;
        right: 0;
    }

    section:nth-child(2)>div:nth-child(4)>img{
        width: 33%;
        top: 2vh;
    }


    section:nth-child(2)>div:nth-child(5){
        height: 30vh;
        width: 30vw;

        position: absolute;
        top: 10vh;
        right: 12vw;
        margin: auto;
    }

    section:nth-child(2)>div:nth-child(5)>h5{
        font-size: 2.5vw;
    }

    section:nth-child(2)>div:nth-child(5)>h1{
        font-size: 5vw;
        top: 5vh;
    }

    section:nth-child(2)>div:nth-child(5)>h2{
        width: 25vw;
        font-size: 2.5vw;
        top: 17vh;
    }

}