@media all and (max-width: 425px) and (min-width:320px) {

    section:nth-child(7){
        height: 55vh;
    }

    section:nth-child(7)>h5{
        top: 15vh;
        font-size: 2.5vw;
    }

    section:nth-child(7)>h1{
        top: 17vh;
        font-size: 5vw;
        width: 35vw;
    }

    section:nth-child(7)>h2{
        font-size: 6vw;
        right: 18vw;
        top: 15vh;
    }

    section:nth-child(7)>h3{
        font-size: 6vw;
        top: 15vh;
    }

    section:nth-child(7)>h4{
        font-size: 2.5vw;
        top : 20vh;
        right: 32vw;
    }

    section:nth-child(7)>h6{
        font-size: 2.5vw;
        top : 20vh;
        right: 15vw;
    }

    section:nth-child(7)>div{
        top : 16vh;
        height: 7vh;
    }

    #section7Project1{
        top: 30vh;
    }

    #section7Project2{
        top: 30vh;
    }

    #section7Project3{
        top: 28vh;
    }

    section:nth-child(7)>h7{
        bottom: 5vh;
    }

    #section7LeftArrow{
        display: none;
    }

    #section7RightArrow{
        display: none;
    }


}